<div class="row">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white col-md-2 nav-bar" style="width: 210px;">
        <ul class="nav nav-pills flex-column mb-auto">
            <li>
                <a routerLink="/" class="nav-link text-white">
                    <i class="material-icons v-middle">
                        home
                    </i> Inicio
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="produtos" class="nav-link" aria-current="page">
                    <i class="material-icons v-middle">
                        storefront
                    </i> Produtos
                </a>
            </li>
        </ul>
    </div>
    <div class="content col-md-10">
        <router-outlet></router-outlet>
    </div>
</div>