<div class="card">
    <div class="card-body">
        <form class="row g-3">
            <app-input [name]="'nm_cep'" [style]="'max-width:300px;'" [id]="'nm_cep'" [placeholder]="'CEP'" [class]="'form-control'" [type]="'text'"></app-input>
            <app-input [name]="'dc_logradouro'" [style]="'max-width:300px;'" [id]="'dc_logradouro'" [placeholder]="'Logradouro'" [class]="'form-control'" [type]="'text'"></app-input>
            <app-input [name]="'nm_numero'" [style]="'max-width:80px;'" [id]="'nm_numero'" [placeholder]="'Nº'" [class]="'form-control'" [type]="'text'"></app-input>
            <app-input [name]="'dc_complemento'" [style]="'max-width:400px;'" [id]="'dc_complemento'" [placeholder]="'Complemento'" [class]="'form-control'" [type]="'text'"></app-input>
            <app-input [name]="'dc_bairro'" [style]="'max-width:200px;'" [id]="'dc_bairro'" [placeholder]="'Bairro'" [class]="'form-control'" [type]="'text'"></app-input>
            <app-input [name]="'dc_cidade'" [style]="'max-width:240px;'" [id]="'dc_cidade'" [placeholder]="'Cidade'" [class]="'form-control'" [type]="'text'"></app-input>
            <app-input [name]="'dc_email'" [style]="'max-width:240px;'" [id]="'dc_email'" [placeholder]="'E-mail'" [class]="'form-control'" [type]="'email'"></app-input>
            <app-input [name]="'dc_senha'" [style]="'max-width:240px;'" [id]="'dc_senha'" [placeholder]="'Senha'" [class]="'form-control'" [type]="'password'"></app-input>
            <app-input [name]="'dc_checkbox'" [style]="'max-width:240px;'" [id]="'dc_checkbox'" [placeholder]="'checkbox'" [class]="'form-check-input'" [type]="'checkbox'"></app-input>
            <app-input [name]="'dc_radio'" [style]="'max-width:240px;'" [id]="'dc_radio'" [placeholder]="'radio'" [class]="'radio'" [type]="'radio'"></app-input>
            <app-input [name]="'dc_salvar'" [style]="'max-width:240px;'" [id]="'dc_salvar'" [placeholder]="'Salvar'" [class]="'btn btn-primary'" [type]="'submit'"></app-input>
        </form>
    </div>
</div>