<!-- <button mat-raised-button (click)="CriarProduto()">
    Novo Produto
</button> -->
<button mat-raised-button (click)="changeComponent()"><i [class]="icon"></i> {{label}}</button>
<!-- <app-pessoa-form *ngIf="!component" [pessoa]="pessoa" [endereco]="endereco"></app-pessoa-form> -->
<app-produto-form *ngIf="!component"></app-produto-form>
<div *ngIf="component" class="card-content">
    <div class="col-sm-12">
        <table class="table table-hover table-bordered table-striped">
            <thead>
                <tr>
                    <th width="50" class="text-center">ID</th>
                    <th>Produto</th>
                    <th class="text-center">Código de Barras</th>
                    <th class="text-center">Valor</th>
                    <th class="text-center">Q.T</th>
                    <th class="text-center">Editar</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr *ngFor="let row of rows">
                    <td width="50" class="text-center">{{row.id_produto}}</td>
                    <td>{{row.no_produto}}</td>
                    <td class="text-center">{{row.cd_ean}}</td>
                    <td class="text-center">{{row.nm_valor | currency:"BRL"}}</td>
                    <td class="text-center">{{row.nm_quantidade}}</td>
                    <td class="text-center">
                        <div class="btn-group btn-group-sm">
                            <a class="btn-success btn-sm">
                                <i class="material-icons">
                                    edit
                                </i>
                            </a>
                        </div>
                    </td>
                </tr> -->
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <!-- <ng-container *ngIf="total > 0">{{total}} <small> registros</small></ng-container>
        <pagination-controls class="float-right" (pageChange)="p=$event" previousLabel="Anterior" nextLabel="Próxima" maxSize="10" responsive="true"></pagination-controls> -->
    </div>
</div>